@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    var Cover = (PROFILE_COVER)ViewBag.Cover;
    var rootpath = (string)ViewBag.rootPath;
    // var userAgent = HttpContextAccessor.HttpContext.Request.Headers["User-Agent"].ToString();
    // bool isChrome = userAgent.Contains("Chrome");
}

<link href="~/assets/scss/mousemove.css" rel="stylesheet" />
<link href="~/css/home/homeindexcontent.css" rel="stylesheet" />

<input type="hidden" id="coverName" value="@Cover.COVER_NAME" />
<input type="hidden" id="coverDesc" value="@Cover.COVER_DESC" />

@* @if (isFacebook)
{
    <section id="modalsection">
        <div class="container-fluid py-5">
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h1>Welcome to Sakib's Bio!</h1>
                    <p>We recommend using <strong>External Browser</strong> for the best experience.</p>
                    <button onclick="openBrowser()">Open Browser</button>
                </div>
            </div>
        </div>
    </section>
} *@

<!-- ======= Hero Section for Desktop View ======= -->
<section id="hero" class="d-none d-sm-block align-items-center" style="overflow:hidden;">
    <div id="parallax" class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

        <div class="pointer pointer1">☺</div>
        <div class="pointer pointer2">☻</div>
        <div class="pointer pointer3">♥</div>
        <div class="pointer pointer4">♦</div>
        <div class="pointer pointer5">♣</div>

        <div class="container-fluid p-5">
            <div class="row align-items-center">
                @if (Cover != null)
                {
                    <div class="col-md-4">
                        <div class="container-fluid" style="height:fit-content; width:fit-content; margin:auto;">
                            @if (Cover.COVER_IMAGE != null)
                            {
                                <img class="width-complete rounded-circle img-fluid" src="@Url.Content(Cover.COVER_IMAGE.Replace(rootpath,""))" />
                                @* <img class="width-complete rounded-circle img-fluid" src="data:ImageData;base64,@System.Convert.ToBase64String(Cover.COVER_IMAGE)" alt="Floating Image" /> *@
                                @* <img style="margin-left:90px;" class="rounded-circle img-fluid" src="~/assets/img/about.jpg" alt=""> *@
                            }
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-6" style="margin:auto">
                        <h1 id="welcome"></h1>
                        <h2 id="message"></h2>
                        <div style="display: flex; margin: 5px">
                            <a asp-action="About" asp-controller="MY_PROFILE" class="btn-about">About Me</a>
                            <a style="margin-left: 5px;" asp-action="DownloadCV" asp-controller="CV" asp-route-filePath="@ViewBag.FilePath" class="btn-cv">Download CV</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-6">
                        <div class="container-fluid" style="height:fit-content; width:fit-content; margin:auto">
                            @*<img style="margin-left:90px;" class="rounded-circle img-fluid" src="~/assets/img/about.jpg" alt="">*@
                            <img class="width-complete rounded-circle img-fluid" src="~/assets/img/about.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-6" style="margin:auto">
                        <h1>@ViewBag.Name</h1>
                        <h2>@ViewBag.Bio</h2>
                        <div style="display: flex;">
                            <a asp-action="About" asp-controller="MY_PROFILE" class="btn-about">About Me</a>
                            <a style="margin-left: 5px;" asp-action="DownloadCV" asp-controller="CV" asp-route-filePath="@ViewBag.FilePath" class="btn-cv">About Me</a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= Hero Section for Mobile View ======= -->
<section id="mobIMG" class="d-block d-sm-none" style="overflow:hidden;">
    <br />
    <br />
    @if (Cover != null)
    {
        <div class="container p-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="row align-items-center" style="height:fit-content; width:fit-content;">
                @if (Cover.COVER_IMAGE != null)
                {
                    <img class="width-complete rounded-circle img-fluid" src="@Url.Content(Cover.COVER_IMAGE.Replace(rootpath,""))" />
                    @* <img class="width-complete rounded-circle img-fluid" src="data:ImageData;base64,@System.Convert.ToBase64String(Cover.COVER_IMAGE)" alt="" /> *@
                    @* <img style="margin-left:40px;" class="rounded-circle img-fluid" src="~/assets/img/about_mobile.jpg" alt=""> *@
                }
            </div>
        </div>
        <div class="container-fluid p-3">
            <div class="row align-items-sm-center">
                <h1 class="mobText" id="welcomeMobile"></h1>
                <h6 id="messageMobile"></h6>
                <br /> <br />
                <a href="@Url.Action("About","MY_PROFILE")" style="width:50%; margin-left:10px;" class="btn btn-info">About Me</a>
            </div>
        </div>
    }
    else
    {
        <div class="container p-5" data-aos="zoom-in" data-aos-delay="100">
            <div class="row align-items-center" style="height:fit-content; width:fit-content;">
                <img class="width-complete rounded-circle img-fluid" src="~/assets/img/about_mobile.jpg" alt="">
            </div>
        </div>
        <div class="container-fluid p-3">
            <div class="row align-items-sm-center">
                <h1 id="mobText">@ViewBag.Name</h1>
                <h6>@ViewBag.Bio</h6>
                <br /> <br />
                <a href="@Url.Action("About","MY_PROFILE")" style="width:50%; margin-left:10px;" class="btn btn-info">About Me</a>
            </div>
        </div>
    }

</section><!-- End Hero -->
@section Scripts{
    <script src="~/assets/js/mousemove.js"></script>
    <script src="~/assets/js/typewriter.js"></script>
    <script src="~/js/home/homeindexcontent.js"></script>
}