@using SAKIB_PORTFOLIO.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    MY_PROFILE? mY_PROFILEs = ViewData["PROFILES"] as MY_PROFILE;
    List<PROJECTS>? sERVICEs = ViewData["PROJECTS"] as List<PROJECTS>;
}

<style>
    #myTxt {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<main id="main">

    <!-- ======= Services Section ======= -->
    <section>
        <div class="container" data-aos="fade-up">

            @if (sERVICEs != null)
            {
                <div class="section-title">
                    <h2>My Works</h2>
                    @if (mY_PROFILEs != null)
                    {
                        <p>@mY_PROFILEs.DES_1</p>
                    }
                </div>

                <div class="row">
                    @if (sERVICEs != null)
                    {
                        foreach (var item in sERVICEs)
                        {
                            @Html.HiddenFor(x=>item.DESCRIPTION_1,new{ @id = "desc"})
                            <div id="forTitle" title="project" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="card" style="width: 18rem;">
                                    <img class="img-thumbnail" style="width:300px;height:150px" src="data:ImageData;base64,@System.Convert.ToBase64String(@item.LOGO)" />
                                    <div class="card-body">
                                        <h5 id="myTxt" class="card-title">@item.PROJECT_NAME</h5>
                                        <p id="myTxt" class="card-text">@item.DESCRIPTION_1</p>
                                        <a asp-action="Details" asp-controller="PROJECTS" asp-route-id="@item.AUTO_ID" class="btn btn-primary">View Details</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <p>No Works to display now.</p>
            }

        </div>
    </section><!-- End Services Section -->

</main>

@section Scripts{
    <script>
        
        //$('#myTxt').hover(function(){
        //    var att = $('#desc').val();
        //    $("#forTitle").attr('title', att);
        //});
       
    </script>
}
