@model SAKIB_PORTFOLIO.Models.PROFILE_COVER

@{
    ViewData["Title"] = "Details";
}

<section>
    <div class="container-fluid p-5">
        <h1>Details</h1>

<div>
    <h4>PROFILE_COVER</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COVER_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COVER_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COVER_DESC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COVER_DESC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COVER_IMAGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COVER_IMAGE)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AUTO_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</section>
