@model IEnumerable<SAKIB_PORTFOLIO.Models.PROFILE_COVER>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<section>
    <div class="container-fluid p-5">
        @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.COVER_NAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.COVER_DESC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.COVER_IMAGE)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.MOBILE_COVER)
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.COVER_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.COVER_DESC)
                        </td>
                        <td>
                            @if (item.COVER_IMAGE != null)
                            {
                                <img class="img-fluid" style="height:120px;width:120px;" src="data:ImageData;base64,@System.Convert.ToBase64String(item.COVER_IMAGE)" />
                            }
                        </td>
                        @*<td>
                            @if (item.MOBILE_COVER != null)
                            {
                                <img class="img-fluid" style="height:120px;width:120px;" src="data:ImageData;base64,@System.Convert.ToBase64String(item.MOBILE_COVER)" />
                            }
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AUTO_ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.AUTO_ID">Details</a> |
                            @*<a asp-action="Delete" asp-route-id="@item.AUTO_ID">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

