@model SAKIB_PORTFOLIO.Models.CONTACTS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-fluid p-5">
        <h1>Details</h1>

<div>
    <h4>CONTACTS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SUBJECT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SUBJECT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MESSAGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHONE)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.AUTO_ID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</section>
